# used for temp file output during build process
_tmp/*
# project output after preprocessesing for Playdate
_pdx/*
# actual pdx that you can run on-device/in-simulator
*.pdx/*
# project output after preprocessesing for Love2d
_love2d/*
.sentry-native/*
